<!DOCTYPE html>
<html lang="en">
<head>
  {%- include head.html -%}
</head>
<body>
    
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v4.0"></script>
  <header id="hero-header" class="Raji-{{ site.Raji.style }}" style="background-image: url('{{ site.baseurl }}/assets/img/sample2.png')">
    <div id="change-her-the-bg-image" class="uk-background-norepeat uk-background-cover uk-background-center-center uk-background-image@s uk-section uk-section-large uk-flex uk-flex-middle" uk-parallax="bgx: 0,-60" uk-height viewport="offset-top: false" style="background: linear-gradient(to right, rgba(30, 75, 115, 0.9), rgba(255, 255, 255, 0))">
      {%- include nav.html -%}
    {%- include post_header.html -%}  
  </div>

  </header>
  <main>
    <div class="uk-container">
        <div class="uk-flex uk-margin">
            <div class="main__text uk-margin-auto uk-margin-auto-vertical uk-width-3-4@s">
                {{ content }}

                {%- include share.html-%}  

                <div class="fb-comments" data-href="https://mohammedraji.github.io/" data-width="100%" data-numposts="7"></div>
              </div>


            
      </div>

        <!-- Configure Disqus -->
      {%- if site.Raji.disqus_shortname -%}
        <div id="disqus_thread" style="margin-top:25px"></div>
        <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };
          (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://{{ site.Raji.disqus_shortname }}.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      {%- endif -%}
    </div>
  </main>
  {%- include footer.html -%}
</body>
</html>